* text=auto

*.pdf binary
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary

*.drawio text eol=lf
*.mmd text eol=lf
*.md text eol=lf
*.json text eol=lf
*.mjs text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.sql text eol=lf
